* {
    padding: 0;
    margin: 0;
  }
  
  body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000000;
  }
  
  button {
    
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-size: 1.3em;
        font-style: normal;
      
    padding: 1em 2em;
    border-radius: 2em;
    border: 5px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    letter-spacing: 1.5px;
    cursor: pointer;
    outline: none;
  }